Repository redhat-openshift-ecosystem/community-operators-pipeline, pull requests merged in 2021-09, with the labels that each got.

#102 operators [R] cockroachdb (2.1.1)
  operators/cockroachdb/2.1.1/manifests/cockroachdb.v2.1.1.clusterserviceversion.yaml
  operators/cockroachdb/2.1.11/bundle.Dockerfile
  operators/cockroachdb/2.1.11/manifests/cockroachdb.v2.1.11.clusterserviceversion.yaml
  operators/cockroachdb/2.1.11/manifests/cockroachdbs.charts.helm.k8s.io.crd.yaml
  operators/cockroachdb/2.1.11/metadata/annotations.yaml
  operators/cockroachdb/3.0.7/bundle.Dockerfile
  operators/cockroachdb/3.0.7/manifests/charts_v1alpha1_cockroachdb_crd.yaml
  operators/cockroachdb/3.0.7/manifests/cockroachdb.v3.0.7.clusterserviceversion.yaml
  operators/cockroachdb/3.0.7/metadata/annotations.yaml
  operators/cockroachdb/5.0.3/bundle.Dockerfile
  operators/cockroachdb/5.0.3/manifests/charts.operatorhub.io_cockroachdbs.yaml
  operators/cockroachdb/5.0.3/manifests/cockroachdb-controller-manager-metrics-service_v1_service.yaml
  operators/cockroachdb/5.0.3/manifests/cockroachdb-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cockroachdb/5.0.3/manifests/cockroachdb.clusterserviceversion.yaml
  operators/cockroachdb/5.0.3/metadata/annotations.yaml
  operators/cockroachdb/5.0.4/bundle.Dockerfile
  operators/cockroachdb/5.0.4/manifests/charts.operatorhub.io_cockroachdbs.yaml
  operators/cockroachdb/5.0.4/manifests/cockroachdb-controller-manager-metrics-service_v1_service.yaml
  operators/cockroachdb/5.0.4/manifests/cockroachdb-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cockroachdb/5.0.4/manifests/cockroachdb.clusterserviceversion.yaml
  operators/cockroachdb/5.0.4/metadata/annotations.yaml
Labels: ok-to-test, allow/operator-recreate, openshift-started-4.7, openshift-started-4.8, openshift-started-4.6

#104 operators [O] [CI] aqua (6.2.0)
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
  operators/aqua/ci.yaml
Labels: ok-to-test, package-validated, allow/operator-version-overwrite, openshift-started-4.7, openshift-started-4.8, openshift-started-4.6

#111 operators [O] [R] aqua (6.2.0)
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: ok-to-test, package-validated, allow/operator-version-overwrite

#113 operators [R] cockroachdb (2.0.9 2.1.1 2.1.11 3.0.7 5.0.4)
  operators/cockroachdb/2.0.9/metadata/annotations.yaml
  operators/cockroachdb/2.1.1/metadata/annotations.yaml
  operators/cockroachdb/2.1.11/metadata/annotations.yaml
  operators/cockroachdb/3.0.7/metadata/annotations.yaml
  operators/cockroachdb/5.0.4/manifests/cockroachdb.clusterserviceversion.yaml
Labels: ok-to-test, allow/operator-recreate

#115 operators [O] cockroachdb (5.0.4)
  operators/cockroachdb/5.0.4/manifests/cockroachdb.clusterserviceversion.yaml
Labels: package-validated, allow/operator-version-overwrite, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, installation-validated

#128 operators [O] aqua (6.0.0)
  operators/aqua/6.0.0/aqua-operator.v6.0.0.clusterserviceversion.yaml
Labels: ok-to-test, allow/operator-version-overwrite
