Repository redhat-openshift-ecosystem/community-operators-pipeline, pull requests merged in 2021-10, with the labels that each got.

#135 operators [O] aqua (6.2.0)
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: package-validated, allow/operator-version-overwrite, openshift-started-4.7, openshift-started-4.6, installation-validated, openshift-started-4.9

#136 operators [O] aqua (6.2.0)
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: ok-to-test, package-validated, allow/operator-version-overwrite

#137 Minor documentation typo
  docs/operator-ci-yaml.md
Labels: documentation, needs-ok-to-test
