Repository redhat-openshift-ecosystem/community-operators-pipeline, pull requests merged in 2021-11, with the labels that each got.

#165 operators [O] aqua (6.2.0)
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: package-validated, allow/operator-version-overwrite, installation-validated, authorized-changes

#166 operators [O] aqua (6.2.0)
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes

#167 operators [O] aqua (6.2.0)
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: package-validated, allow/operator-version-overwrite, installation-validated, authorized-changes

#169 operators [O] aqua (6.2.0)
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes

#170 operators [O] aqua (6.2.0)
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes

#171 operators [O] aqua (6.2.0)
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes

#172 operators [O] aqua (6.2.0)
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: ok-to-test, package-validated, allow/operator-version-overwrite

#174 doc: replace the community check from the downstream one
  docs/packaging-required-criteria-ocp.md
Labels: documentation
