Repository redhat-openshift-ecosystem/community-operators-pipeline, pull requests merged in 2021-12, with the labels that each got.

#177 operators [O] aqua (6.2.0)
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: ok-to-test, package-validated, allow/operator-version-overwrite, installation-validated

#178 Test
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite

#179 Test
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite

#180 Test
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite

#181 Test
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite

#183 add k8s bundle validator in the docs
  docs/testing-operators.md
Labels: documentation

#187 operators [R] aqua (6.2.1 6.5.0)
  operators/aqua/6.2.1/aqua-operator.v6.2.1.clusterserviceversion.yaml
  operators/aqua/6.2.1/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aqua-operator.v6.5.0.clusterserviceversion.yaml
  operators/aqua/6.5.0/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/aqua-operator.package.yaml
Labels: allow/operator-recreate, package-validated, installation-validated

#191 operators [R] aqua (5.3.0 6.2.1)
  operators/aqua/5.3.0/aqua-operator.v5.3.0.clusterserviceversion.yaml
  operators/aqua/6.2.1/aqua-operator.v6.2.1.clusterserviceversion.yaml
  operators/aqua/6.5.0/aqua-operator.v6.5.0.clusterserviceversion.yaml
  operators/aqua/6.5.0/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/aqua-operator.package.yaml
Labels: ok-to-test, allow/operator-recreate, package-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, installation-validated, installation-validated-4.9

#192 operators [O] aqua (6.2.1)
  operators/aqua/6.2.1/aqua-operator.v6.2.1.clusterserviceversion.yaml
Labels: ok-to-test, package-validated, allow/operator-version-overwrite, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, installation-validated, authorized-changes, installation-validated-4.9
