Repository redhat-openshift-ecosystem/community-operators-pipeline, pull requests merged in 2021-07, with the labels that each got.

#6 operators [CI] aqua (5.3.0)
  operators/aqua/5.3.0/aqua-operator.v5.3.0.clusterserviceversion.yaml
  operators/aqua/5.3.0/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/5.3.0/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/5.3.0/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/5.3.0/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/5.3.0/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/5.3.0/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/5.3.0/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/aqua-operator.package.yaml
  operators/aqua/ci.yaml
Labels: ok-to-test, package-validated

#7 operators aqua (1.0.0)
  operators/aqua/1.0.0/aqua-operator.v1.0.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, ok-to-test

#28 operators aqua (1.0.0)
  operators/aqua/1.0.0/aqua-operator.v1.0.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, ok-to-test

#18 operators [R] [CI] 3scale-community-operator (0.3.0 0.4.0 0.5.1 0.6.0 0.7.0)
  operators/3scale-community-operator/0.3.0/3scale-community-operator.v0.3.0.clusterserviceversion.yaml
  operators/3scale-community-operator/0.3.0/apimanagers.apps.3scale.net.crd.yaml
  operators/3scale-community-operator/0.3.0/apis.capabilities.3scale.net.crd.yaml
  operators/3scale-community-operator/0.3.0/bindings.capabilities.3scale.net.crd.yaml
  operators/3scale-community-operator/0.3.0/limits.capabilities.3scale.net.crd.yaml
  operators/3scale-community-operator/0.3.0/mappingrules.capabilities.3scale.net.crd.yaml
  operators/3scale-community-operator/0.3.0/metrics.capabilities.3scale.net.crd.yaml
  operators/3scale-community-operator/0.3.0/plans.capabilities.3scale.net.crd.yaml
  operators/3scale-community-operator/0.3.0/tenants.capabilities.3scale.net.crd.yaml
  operators/3scale-community-operator/0.4.0/3scale-community-operator.v0.4.0.clusterserviceversion.yaml
  operators/3scale-community-operator/0.4.0/apps_v1alpha1_apimanager_crd.yaml
  operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_api_crd.yaml
  operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_binding_crd.yaml
  operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_limit_crd.yaml
  operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_mappingrule_crd.yaml
  operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_metric_crd.yaml
  operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_plan_crd.yaml
  operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_tenant_crd.yaml
  operators/3scale-community-operator/0.5.1/3scale-community-operator.v0.5.1.clusterserviceversion.yaml
  operators/3scale-community-operator/0.5.1/apps_v1alpha1_apimanager_crd.yaml
  operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_api_crd.yaml
  operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_binding_crd.yaml
  operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_limit_crd.yaml
  operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_mappingrule_crd.yaml
  operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_metric_crd.yaml
  operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_plan_crd.yaml
  operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_tenant_crd.yaml
  operators/3scale-community-operator/0.6.0/3scale-community-operator.v0.6.0.clusterserviceversion.yaml
  operators/3scale-community-operator/0.6.0/apps.3scale.net_apimanagerbackups_crd.yaml
  operators/3scale-community-operator/0.6.0/apps.3scale.net_apimanagerrestores_crd.yaml
  operators/3scale-community-operator/0.6.0/apps.3scale.net_apimanagers_crd.yaml
  operators/3scale-community-operator/0.6.0/capabilities.3scale.net_backends_crd.yaml
  operators/3scale-community-operator/0.6.0/capabilities.3scale.net_products_crd.yaml
  operators/3scale-community-operator/0.6.0/capabilities.3scale.net_tenants_crd.yaml
  operators/3scale-community-operator/0.7.0/3scale-community-operator.v0.7.0.clusterserviceversion.yaml
  operators/3scale-community-operator/0.7.0/apps.3scale.net_apimanagerbackups_crd.yaml
  operators/3scale-community-operator/0.7.0/apps.3scale.net_apimanagerrestores_crd.yaml
  operators/3scale-community-operator/0.7.0/apps.3scale.net_apimanagers_crd.yaml
  operators/3scale-community-operator/0.7.0/capabilities.3scale.net_backends_crd.yaml
  operators/3scale-community-operator/0.7.0/capabilities.3scale.net_products_crd.yaml
  operators/3scale-community-operator/0.7.0/capabilities.3scale.net_tenants_crd.yaml
  operators/3scale-community-operator/3scale-community-operator.package.yaml
  operators/3scale-community-operator/ci.yaml
Labels: allow/operator-recreate, ok-to-test

#17 operators [R] [CI] api-operator (1.0.1 1.1.0 1.2.0 1.2.1 1.2.2 1.2.3 2.0.0)
  operators/api-operator/1.0.1/api-operator.v1.0.1.clusterserviceversion.yaml
  operators/api-operator/1.0.1/apis.wso2.com.crd.yaml
  operators/api-operator/1.0.1/ratelimitings.wso2.com.crd.yaml
  operators/api-operator/1.0.1/securities.wso2.com.crd.yaml
  operators/api-operator/1.0.1/targetendpoints.wso2.com.crd.yaml
  operators/api-operator/1.1.0/api-operator.v1.1.0.clusterserviceversion.yaml
  operators/api-operator/1.1.0/apis.wso2.com.crd.yaml
  operators/api-operator/1.1.0/ratelimitings.wso2.com.crd.yaml
  operators/api-operator/1.1.0/securities.wso2.com.crd.yaml
  operators/api-operator/1.1.0/targetendpoints.wso2.com.crd.yaml
  operators/api-operator/1.2.0/api-operator.v1.2.0.clusterserviceversion.yaml
  operators/api-operator/1.2.0/wso2.com_apis_crd.yaml
  operators/api-operator/1.2.0/wso2.com_ratelimitings_crd.yaml
  operators/api-operator/1.2.0/wso2.com_securities_crd.yaml
  operators/api-operator/1.2.0/wso2.com_targetendpoints_crd.yaml
  operators/api-operator/1.2.1/api-operator.v1.2.1.clusterserviceversion.yaml
  operators/api-operator/1.2.1/wso2.com_apis_crd.yaml
  operators/api-operator/1.2.1/wso2.com_ratelimitings_crd.yaml
  operators/api-operator/1.2.1/wso2.com_securities_crd.yaml
  operators/api-operator/1.2.1/wso2.com_targetendpoints_crd.yaml
  operators/api-operator/1.2.2/api-operator.v1.2.2.clusterserviceversion.yaml
  operators/api-operator/1.2.2/wso2.com_apis_crd.yaml
  operators/api-operator/1.2.2/wso2.com_ratelimitings_crd.yaml
  operators/api-operator/1.2.2/wso2.com_securities_crd.yaml
  operators/api-operator/1.2.2/wso2.com_targetendpoints_crd.yaml
  operators/api-operator/1.2.3/api-operator.v1.2.3.clusterserviceversion.yaml
  operators/api-operator/1.2.3/wso2.com_apis_crd.yaml
  operators/api-operator/1.2.3/wso2.com_ratelimitings_crd.yaml
  operators/api-operator/1.2.3/wso2.com_securities_crd.yaml
  operators/api-operator/1.2.3/wso2.com_targetendpoints_crd.yaml
  operators/api-operator/2.0.0/api-operator.v2.0.0.clusterserviceversion.yaml
  operators/api-operator/2.0.0/wso2.com_apis_crd.yaml
  operators/api-operator/2.0.0/wso2.com_integrations_crd.yaml
  operators/api-operator/2.0.0/wso2.com_targetendpoints_crd.yaml
  operators/api-operator/api-operator.package.yaml
  operators/api-operator/ci.yaml
Labels: allow/operator-recreate, ok-to-test

#16 operators [R] [CI] aws-efs-operator (0.0.1 0.0.2 0.0.3 0.0.4 0.0.5)
  operators/aws-efs-operator/0.0.1/aws-efs-operator.v0.0.1.clusterserviceversion.yaml
  operators/aws-efs-operator/0.0.1/aws-efs.managed.openshift.io_sharedvolumes_crd.yaml
  operators/aws-efs-operator/0.0.2/aws-efs-operator.v0.0.2.clusterserviceversion.yaml
  operators/aws-efs-operator/0.0.2/aws-efs.managed.openshift.io_sharedvolumes_crd.yaml
  operators/aws-efs-operator/0.0.3/aws-efs-operator.v0.0.3.clusterserviceversion.yaml
  operators/aws-efs-operator/0.0.3/aws-efs.managed.openshift.io_sharedvolumes_crd.yaml
  operators/aws-efs-operator/0.0.4/aws-efs-operator.v0.0.4.clusterserviceversion.yaml
  operators/aws-efs-operator/0.0.4/aws-efs.managed.openshift.io_sharedvolumes_crd.yaml
  operators/aws-efs-operator/0.0.5/aws-efs-operator.v0.0.5.clusterserviceversion.yaml
  operators/aws-efs-operator/0.0.5/aws-efs.managed.openshift.io_sharedvolumes_crd.yaml
  operators/aws-efs-operator/aws-efs-operator.package.yaml
  operators/aws-efs-operator/ci.yaml
Labels: allow/operator-recreate, ok-to-test

#30 operators [R] integrity-shield-operator (0.1.3 0.1.4 0.1.5 0.1.6)
  operators/integrity-shield-operator/0.1.3/metadata/annotations.yaml
  operators/integrity-shield-operator/0.1.4/metadata/annotations.yaml
  operators/integrity-shield-operator/0.1.5/metadata/annotations.yaml
  operators/integrity-shield-operator/0.1.6/metadata/annotations.yaml
Labels: allow/operator-recreate, ok-to-test, package-validated

#34 Test
  ci/pipeline-config-default.yaml
Labels: allow/ci-changes

#35 operators [O] aws-efs-operator (0.0.3)
  operators/aws-efs-operator/0.0.3/aws-efs-operator.v0.0.3.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, ok-to-test, package-validated

#36 operators [O] api-operator (1.0.1)
  operators/api-operator/1.0.1/api-operator.v1.0.1.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, ok-to-test

#37 operators [R] 3scale-community-operator (0.3.0 0.4.0 0.5.1 0.6.0 0.7.0)
  operators/3scale-community-operator/0.3.0/3scale-community-operator.v0.3.0.clusterserviceversion.yaml
  operators/3scale-community-operator/0.4.0/3scale-community-operator.v0.4.0.clusterserviceversion.yaml
  operators/3scale-community-operator/0.5.1/3scale-community-operator.v0.5.1.clusterserviceversion.yaml
  operators/3scale-community-operator/0.6.0/3scale-community-operator.v0.6.0.clusterserviceversion.yaml
  operators/3scale-community-operator/0.7.0/3scale-community-operator.v0.7.0.clusterserviceversion.yaml
Labels: allow/operator-recreate, ok-to-test, package-validated

#39 Test aqua
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: ok-to-test

#42 ohio trigger url change
  ci/scripts/opp-trigger-operatorhubio-ci.sh
Labels: allow/ci-changes

#45 fix signature order
  scripts/template/workflow/operator_release.yaml.js2
Labels: allow/ci-changes

#61 Signature using default action
  .github/workflows/operator_release.yaml
  scripts/template/workflow/operator_release.yaml.js2
Labels: allow/ci-changes

#63 operators [R] [CI] cockroachdb (2.0.9 2.1.1 2.1.11 3.0.7 5.0.3 5.0.4)
  operators/cockroachdb/2.0.9/bundle.Dockerfile
  operators/cockroachdb/2.0.9/manifests/cockroachdb.v2.0.9.clusterserviceversion.yaml
  operators/cockroachdb/2.0.9/manifests/cockroachdbs.charts.helm.k8s.io.crd.yaml
  operators/cockroachdb/2.0.9/metadata/annotations.yaml
  operators/cockroachdb/2.1.1/bundle.Dockerfile
  operators/cockroachdb/2.1.1/manifests/cockroachdb.v2.1.1.clusterserviceversion.yaml
  operators/cockroachdb/2.1.1/manifests/cockroachdbs.charts.helm.k8s.io.crd.yaml
  operators/cockroachdb/2.1.1/metadata/annotations.yaml
  operators/cockroachdb/2.1.11/bundle.Dockerfile
  operators/cockroachdb/2.1.11/manifests/cockroachdb.v2.1.11.clusterserviceversion.yaml
  operators/cockroachdb/2.1.11/manifests/cockroachdbs.charts.helm.k8s.io.crd.yaml
  operators/cockroachdb/2.1.11/metadata/annotations.yaml
  operators/cockroachdb/3.0.7/bundle.Dockerfile
  operators/cockroachdb/3.0.7/manifests/charts_v1alpha1_cockroachdb_crd.yaml
  operators/cockroachdb/3.0.7/manifests/cockroachdb.v3.0.7.clusterserviceversion.yaml
  operators/cockroachdb/3.0.7/metadata/annotations.yaml
  operators/cockroachdb/5.0.3/bundle.Dockerfile
  operators/cockroachdb/5.0.3/manifests/charts.operatorhub.io_cockroachdbs.yaml
  operators/cockroachdb/5.0.3/manifests/cockroachdb-controller-manager-metrics-service_v1_service.yaml
  operators/cockroachdb/5.0.3/manifests/cockroachdb-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cockroachdb/5.0.3/manifests/cockroachdb.clusterserviceversion.yaml
  operators/cockroachdb/5.0.3/metadata/annotations.yaml
  operators/cockroachdb/5.0.4/bundle.Dockerfile
  operators/cockroachdb/5.0.4/manifests/charts.operatorhub.io_cockroachdbs.yaml
  operators/cockroachdb/5.0.4/manifests/cockroachdb-controller-manager-metrics-service_v1_service.yaml
  operators/cockroachdb/5.0.4/manifests/cockroachdb-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cockroachdb/5.0.4/manifests/cockroachdb.clusterserviceversion.yaml
  operators/cockroachdb/5.0.4/metadata/annotations.yaml
  operators/cockroachdb/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, package-validated

#65 Docu cuttly
  README.md
  docs/README.md
  docs/operator-test-suite.md
Labels: documentation

#64 operators [O] cockroachdb (5.0.4)
  operators/cockroachdb/5.0.4/manifests/cockroachdb.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, package-validated

#66 raw
  docs/README.md
  docs/operator-test-suite.md
Labels: documentation
