Repository redhat-openshift-ecosystem/community-operators-pipeline, pull requests merged in 2021-08, with the labels that each got.

#79 operators [O] aqua (6.2.0)
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: ok-to-test, allow/operator-version-overwrite

#84 Test
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite

#85 Fix
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite

#87 Test
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite

#88 operators [O] cockroachdb (5.0.4)
  operators/cockroachdb/5.0.4/manifests/cockroachdb.clusterserviceversion.yaml
Labels: ok-to-test, allow/operator-version-overwrite

#89 Test
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite

#90 Test
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite

#91 Fix
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite

#93 Test
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite

#94 operators [O] cockroachdb (5.0.4)
  operators/cockroachdb/5.0.4/manifests/cockroachdb.clusterserviceversion.yaml
Labels: ok-to-test, allow/operator-version-overwrite

#95 operators [O] cockroachdb (5.0.4)
  operators/cockroachdb/5.0.4/metadata/annotations.yaml
Labels: ok-to-test, allow/operator-version-overwrite, allow/serious-changes-to-existing

#97 operators [PK] aqua ()
  operators/aqua/aqua-operator.package.yaml
Labels: ok-to-test, package-validated
