Repository redhat-openshift-ecosystem/community-operators-pipeline, pull requests merged in 2022-03, with the labels that each got.

#220 operators [O] ack-apigatewayv2-controller (0.0.12)
  operators/ack-apigatewayv2-controller/0.0.12/manifests/ack-apigatewayv2-controller.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, installation-validated, installation-skipped

#225 operators [O] etcd (0.9.4-clusterwide)
  operators/etcd/0.9.4-clusterwide/etcdoperator.v0.9.4-clusterwide.clusterserviceversion.yaml
Labels: ok-to-test, allow/operator-version-overwrite

#226 operators [R] [CI] apicurito (0.1.0 1.0.1 1.0.2)
  operators/apicurito/0.1.0/Dockerfile
  operators/apicurito/0.1.0/manifests/apicur.io_apicuritoes.yaml
  operators/apicurito/0.1.0/manifests/apicuritooperator.clusterserviceversion.yaml
  operators/apicurito/0.1.0/metadata/annotations.yaml
  operators/apicurito/0.1.0/tests/scorecard/config.yaml
  operators/apicurito/1.0.1/Dockerfile
  operators/apicurito/1.0.1/manifests/apicur.io_apicuritoes.yaml
  operators/apicurito/1.0.1/manifests/apicurito-operator-installer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/apicurito/1.0.1/manifests/apicurito.clusterserviceversion.yaml
  operators/apicurito/1.0.1/metadata/annotations.yaml
  operators/apicurito/1.0.1/tests/scorecard/config.yaml
  operators/apicurito/1.0.2/Dockerfile
  operators/apicurito/1.0.2/manifests/apicur.io_apicuritoes.yaml
  operators/apicurito/1.0.2/manifests/apicurito-operator-installer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/apicurito/1.0.2/manifests/apicurito.clusterserviceversion.yaml
  operators/apicurito/1.0.2/metadata/annotations.yaml
  operators/apicurito/1.0.2/tests/scorecard/config.yaml
  operators/apicurito/ci.yaml
Labels: ok-to-test, allow/operator-recreate
