Repository redhat-openshift-ecosystem/community-operators-pipeline, pull requests merged in 2022-11, with the labels that each got.

#307 operator [R] cockroachdb (2.0.9 2.1.1 2.1.11 3.0.7 5.0.3)
  operators/cockroachdb/5.0.4/bundle.Dockerfile
  operators/cockroachdb/5.0.4/manifests/charts.operatorhub.io_cockroachdbs.yaml
  operators/cockroachdb/5.0.4/manifests/cockroachdb-controller-manager-metrics-service_v1_service.yaml
  operators/cockroachdb/5.0.4/manifests/cockroachdb-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cockroachdb/5.0.4/manifests/cockroachdb.clusterserviceversion.yaml
  operators/cockroachdb/5.0.4/metadata/annotations.yaml
Labels: allow/operator-recreate, package-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#311 operator [R] couchbase-enterprise (1.0.0 1.1.0 1.2.1 1.2.2 2.0.0 2.0.1 2.0.2 2.1.0)
  operators/couchbase-enterprise/1.0.0/metadata/annotations.yaml
  operators/couchbase-enterprise/1.1.0/metadata/annotations.yaml
  operators/couchbase-enterprise/1.2.1/metadata/annotations.yaml
  operators/couchbase-enterprise/1.2.2/metadata/annotations.yaml
  operators/couchbase-enterprise/2.0.0/metadata/annotations.yaml
  operators/couchbase-enterprise/2.0.1/metadata/annotations.yaml
  operators/couchbase-enterprise/2.0.2/metadata/annotations.yaml
  operators/couchbase-enterprise/2.1.0/manifests/couchbase-v2.1.0.clusterserviceversion.yaml
  operators/couchbase-enterprise/2.1.0/metadata/annotations.yaml
Labels: ok-to-test, allow/operator-recreate

#312 operator [O] couchbase-enterprise (2.2.4)
  operators/couchbase-enterprise/2.2.4/manifests/couchbase-v2.2.4.clusterserviceversion.yaml
Labels: ok-to-test, allow/operator-version-overwrite, authorized-changes

#314 operator [O] couchbase-enterprise (2.2.4)
  operators/couchbase-enterprise/2.2.4/manifests/couchbase-v2.2.4.clusterserviceversion.yaml
Labels: ok-to-test, package-validated, allow/operator-version-overwrite, installation-validated-4.10, installation-validated-4.12
