Repository redhat-openshift-ecosystem/community-operators-pipeline, pull requests merged in 2023-04, with the labels that each got.

#396 operator [N] [CI] dbaas-operator (0.5.0)
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaas-service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasconnection-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasinventory-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasinventory-viewer_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaaspolicy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaaspolicy-viewer_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasprovider-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasprovider-viewers_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-edit-dedicated-admins_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-manager-config_v1_configmap.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-webhook-service_v1_service.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator.clusterserviceversion.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasconnections.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasinstances.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasinventories.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasplatforms.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaaspolicies.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasproviders.yaml
  operators/dbaas-operator/0.5.0/metadata/annotations.yaml
  operators/dbaas-operator/0.5.0/metadata/dependencies.yaml
  operators/dbaas-operator/0.5.0/metadata/properties.yaml
  operators/dbaas-operator/0.5.0/tests/scorecard/config.yaml
  operators/dbaas-operator/ci.yaml
Labels: ok-to-test, allow/operator-recreate, package-validated, installation-validated-4.8, installation-validated, authorized-changes, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, new-operator

#394 operator [O] cockroachdb (5.0.4)
  operators/cockroachdb/5.0.4/manifests/cockroachdb.clusterserviceversion.yaml
Labels: ok-to-test, package-validated, allow/operator-version-overwrite, installation-validated-4.8, installation-validated, authorized-changes, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#397 ISV-3506: add 4.13 index version
  ci/legacy/scripts/ci/openshift-deploy-core.sh
  ci/scripts/opp-env.sh
Labels: jira/valid-reference
