Repository redhat-openshift-ecosystem/community-operators-pipeline, pull requests merged in 2023-02, with the labels that each got.

#342 operator [O] cockroachdb (5.0.3)
  operators/cockroachdb/5.0.3/manifests/cockroachdb.clusterserviceversion.yaml
Labels: ok-to-test, package-validated, allow/operator-version-overwrite, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#357 operator [O] aqua (6.5.3)
  operators/aqua/6.5.3/aqua-operator.v6.5.3.clusterserviceversion.yaml
Labels: ok-to-test, allow/operator-version-overwrite, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#359 operator [O] aqua (6.5.3)
  operators/aqua/6.5.3/aqua-operator.v6.5.3.clusterserviceversion.yaml
Labels: ok-to-test, package-validated, allow/operator-version-overwrite, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#347 operator [O] apicurito (1.0.3)
  operators/apicurito/1.0.3/manifests/apicurito.clusterserviceversion.yaml
Labels: ok-to-test, package-validated, allow/operator-version-overwrite, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#315 operator [R] [CI] cockroachdb (2.0.9 2.1.1 2.1.11 3.0.7 5.0.4)
  operators/cockroachdb/2.0.9/manifests/cockroachdb.v2.0.9.clusterserviceversion.yaml
  operators/cockroachdb/2.1.1/manifests/cockroachdb.v2.1.1.clusterserviceversion.yaml
  operators/cockroachdb/2.1.11/manifests/cockroachdb.v2.1.11.clusterserviceversion.yaml
  operators/cockroachdb/3.0.7/manifests/cockroachdb.v3.0.7.clusterserviceversion.yaml
  operators/cockroachdb/5.0.4/bundle.Dockerfile
  operators/cockroachdb/5.0.4/manifests/charts.operatorhub.io_cockroachdbs.yaml
  operators/cockroachdb/5.0.4/manifests/cockroachdb-controller-manager-metrics-service_v1_service.yaml
  operators/cockroachdb/5.0.4/manifests/cockroachdb-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cockroachdb/5.0.4/manifests/cockroachdb.clusterserviceversion.yaml
  operators/cockroachdb/5.0.4/metadata/annotations.yaml
  operators/cockroachdb/ci.yaml
Labels: ok-to-test, allow/operator-recreate, package-validated, installation-validated-4.8, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, openshift-started-4.12
